{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/daan-evers-tKN1WXrzQ3s-unsplash.jpg') }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Browse Cafes</h1>
                            <h2 class="subheading">Curated by the community</h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-sm-12 col-md-11 col-lg-9 col-xl-7">
                        {% if current_user.is_authenticated: %}
                        <div class="d-flex mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('add_new_cafe') }}">
                                Add New Cafe
                            </a>
                        </div>
                        {% else %}
                        <div class="d-flex mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('login') }}">
                                Log In To Add New Cafe
                            </a>
                        </div>
                        {% endif %}
                        {% if all_cafes == [] %}
                            <!-- Divider-->
                            <hr class="my-4" />
                            <h2 class="post-title">Cafe database is empty</h2>
                        {% else %}
                            {% for cafe in all_cafes %}
                            <!-- Divider-->
                            <hr class="my-4" />
                            <a href="{{ url_for('show_cafe', cafe_id=cafe.id) }}">
                              <div class="post-preview">
                                <div class="cafe-pic-container">
                                    <img src="{{ cafe.img_url }}" alt="cafe picture" width="175" height="98">
                                </div>
                                <div class="cafe-detail-container">
                                    <div class="detail-title">
                                        <h2 class="post-title">{{ cafe.name }}</h2>
                                    </div>
                                    <div class="detail-main">
                                        <div class="detail">
                                            <h5 class="post-subtitle-main">
                                            <img src="{{ url_for('static', filename='assets/icons/hand-thumbs-up-fill.svg') }}" alt="thumbs up">
                                                {% if cafe.approval == None: %}
                                                    -
                                                {% else %}
                                                    {{ (cafe.approval)|round|int }}%
                                                {% endif %}
                                            </h5>
                                        </div>
                                        <div class="detail">
                                            <h5 class="post-subtitle-main">
                                            <img src="{{ url_for('static', filename='assets/icons/geo-alt-fill.svg') }}" alt="location">
                                            {{ cafe.location }}
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="detail-secondary">
                                        <div class="detail">
                                            <h5 class="post-subtitle-main">
                                            <img src="{{ url_for('static', filename='assets/icons/plug-fill.svg') }}" alt="socket">
                                            {% if cafe.has_sockets: %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                            </h5>
                                        </div>
                                        <div class="detail">
                                            <h5 class="post-subtitle-main">
                                            <img src="{{ url_for('static', filename='assets/icons/restroom-mark-4-svgrepo-com.svg') }}" alt="restroom" height="16">
                                            {% if cafe.has_toilet: %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                            </h5>
                                        </div>
                                        <div class="detail">
                                            <h5 class="post-subtitle-main">
                                            <img src="{{ url_for('static', filename='assets/icons/wifi.svg') }}" alt="wifi">
                                            {% if cafe.has_wifi: %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                            </h5>
                                        </div>
                                        <div class="detail">
                                            <h5 class="post-subtitle-main">
                                            <img src="{{ url_for('static', filename='assets/icons/telephone-fill.svg') }}" alt="can take calls">
                                            {% if cafe.can_take_calls: %}
                                                Yes
                                            {% else %}
                                                No
                                            {% endif %}
                                            </h5>
                                        </div>
                                        <div class="detail">
                                            <h5 class="post-subtitle-main">
                                            <img src="{{ url_for('static', filename='assets/icons/chair-free-1-svgrepo-com.svg') }}" alt="seats" height="16">
                                            {{ cafe.seats }}
                                            </h5>
                                        </div>
                                        <div class="detail">
                                            <h5 class="post-subtitle-main">
                                            <img src="{{ url_for('static', filename='assets/icons/cup-hot-fill.svg') }}" alt="coffee price">
                                            MYR {{ cafe.coffee_price }}
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
{% include "footer.html" %}
