{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ cafe.img_url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ cafe.name }}</h1>
                            <h2 class="subheading">
                                <img src="{{ url_for('static', filename='assets/icons/hand-thumbs-up-fill.svg') }}" class="filter-white" alt="thumbs up" height="25">
                                Work-friendly:
                                    {% if cafe.approval == None: %}
                                        -
                                    {% else %}
                                        {{ (cafe.approval)|round|int }}%
                                    {% endif %}
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="detail">
                                <h5 class="post-subtitle-detail">
                                <img src="{{ url_for('static', filename='assets/icons/geo-alt-fill.svg') }}" alt="location">
                                Location: {{ cafe.location }}
                                </h5>
                            </div>
                            <div class="detail-map">
                                <img src="{{ url_for('static', filename='assets/icons/geo-alt-fill.svg') }}" class="filter-white" alt="location">
                                <a class="btn btn-primary text-uppercase" href="{{ cafe.map_url }}" target="_blank" rel="noopener noreferrer">
                                    Show On Map
                                </a>
                            </div>
                            <div class="detail">
                                <h5 class="post-subtitle-detail">
                                <img src="{{ url_for('static', filename='assets/icons/plug-fill.svg') }}" alt="socket">
                                Sockets:
                                {% if cafe.has_sockets: %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                                </h5>
                            </div>
                            <div class="detail">
                                <h5 class="post-subtitle-detail">
                                <img src="{{ url_for('static', filename='assets/icons/restroom-mark-4-svgrepo-com.svg') }}" alt="restroom" height="16">
                                Restrooms:
                                {% if cafe.has_toilet: %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                                </h5>
                            </div>
                            <div class="detail">
                                <h5 class="post-subtitle-detail">
                                <img src="{{ url_for('static', filename='assets/icons/wifi.svg') }}" alt="wifi">
                                Wifi:
                                {% if cafe.has_wifi: %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                                </h5>
                            </div>
                            <div class="detail">
                                <h5 class="post-subtitle-detail">
                                <img src="{{ url_for('static', filename='assets/icons/telephone-fill.svg') }}" alt="can take calls">
                                Can take calls:
                                {% if cafe.can_take_calls: %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                                </h5>
                            </div>
                            <div class="detail">
                                <h5 class="post-subtitle-detail">
                                <img src="{{ url_for('static', filename='assets/icons/chair-free-1-svgrepo-com.svg') }}" alt="seats" height="16">
                                Number of seats:
                                {{ cafe.seats }}
                                </h5>
                            </div>
                            <div class="detail">
                                <h5 class="post-subtitle-detail">
                                <img src="{{ url_for('static', filename='assets/icons/cup-hot-fill.svg') }}" alt="coffee price">
                                Black coffee price:
                                MYR {{ cafe.coffee_price }}
                                </h5>
                            </div>
                        <br/>
                        {% if current_user.is_authenticated: %}
                        <div class="d-flex mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('edit_cafe', cafe_id=cafe.id) }}">
                                Update Details
                            </a>

                        </div>
                        {% else %}
                        <div class="d-flex mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('login') }}">
                                Log In To Update Details
                            </a>
                        </div>
                        {% endif %}
                        <!-- Divider-->
                        <hr class="my-4" />
                        <!-- Reviews area-->
                        <h2 class="post-title">Reviews</h2>
                        <div>
                            <ul class="reviewList">
                                {% if cafe.cafe_reviews == []: %}
                                <li>
                                    <div class="reviewImage">
                                    </div>
                                    <div class="reviewText">
                                        <h5 class="post-subtitle-main">
                                            No reviews posted yet. Be the first to post a review.
                                        </h5>
                                    </div>
                                </li>
                                {% else %}
                                    {% for review in cafe.cafe_reviews: %}
                                    <li>
                                        <div class="reviewImage">
                                          <img src="{{ review.review_author.email | gravatar }}"/>
                                        </div>
                                        <div class="reviewText">
                                            <h5 class="post-subtitle-name">
                                                {{ review.review_author.name }}
                                            </h5>
                                            <h5 class="post-subtitle-review">
                                                {% if review.like == True %}
                                                    <img src="{{ url_for('static', filename='assets/icons/hand-thumbs-up-fill.svg') }}" alt="thumbs up">
                                                {% else %}
                                                    <img src="{{ url_for('static', filename='assets/icons/hand-thumbs-down-fill.svg') }}" alt="thumbs down">
                                                {% endif %}
                                                {{ review.text|safe }}
                                            </h5>
                                        </div>
                                    </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <div>
                        <br />
                        <!--form-->
                        </div>
                        {% if current_user.is_authenticated: %}
                        <div class="d-flex mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('post_review', cafe_id=cafe.id) }}">
                                Post A Review
                            </a>
                        </div>
                        {% else %}
                        <div class="d-flex mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('login') }}">
                                Log In To Post A Review
                            </a>
                        </div>
                        {% endif %}
                        <!-- Divider-->
                        <hr class="my-4" />
                        <!-- Delete cafe section-->
                        {% if current_user.is_authenticated: %}
                        <div class="d-flex mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('delete_cafe', cafe_id=cafe.id) }}">
                                Delete Cafe
                            </a>
                        </div>
                        {% else %}
                        <div class="d-flex mb-4">
                            <a class="btn btn-primary text-uppercase" href="{{ url_for('login') }}">
                                Log In To Delete Cafe
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
{% include "footer.html" %}
